
{% extends 'index.html' %}
{% load static %}
{% load i18n %}


{% block page %}



<div class="nav-content-section-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-us-top-bg">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-main-blog-post">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <div class="single-blog-post">
                    <div class="blog-post-img">
                        <img src="{{news.image.url}}" alt="blog-single-post" class="img-responsive">
                    </div>
                    <div class="blog-single-post-date">
                        <h3>{{news.created_at}}</h3>
                        <h1>{{news.title}}</h1>
                    </div>

                    <div class="single-post-all-paragraph">

                        <div class="single-post-paragraph">
                            <p class="text-center">
                                {{news.text|safe}}
                            </p>
                        </div>

                    </div>









                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}